*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ workspace
workspace.xml
L01/.idea/workspace.xml
*.bin
L02/.idea/codeStyleSettings.xml
Project 1/.idea/copyright/profiles_settings.xml
Project 1/.idea/copyright/profiles_settings.xml
